.generalContainer {
  height: 100vh;
  width: 100%;
 display: flex;
 flex-direction: row;
justify-content: space-between;
align-items: center;
justify-content: center;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, hsl(144, 0%, 9%), hsl(144, 0%, 9%));
}
.titleAndDescContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.title {
  color: #171717;
  font-size: 31px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.1em;
  margin-top: 0.4em;
  width: 6em;
  height: 1em;
  margin: 0em;
  background-color: rgba(70, 232, 235);
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  user-select: none;
}

.description {

  position: relative;
  right: 13em;
  font-weight: 400;
  border-radius: 5px;
  user-select: none;
  color: rgba(255, 255, 255);
  font-family: 'Dela Gothic One', cursive;
  width: 40%;
  padding: 1em;
  height: 70%;
  font-size: 20px;
}
.videoAndTitleCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 5em;
  margin-top: 8em;
}

.videoTitle {
  user-select: none;
  color: rgba(255, 255, 255);
  font-family: 'Dela Gothic One', cursive;
  width: 28.5em;
  border: 1px solid white;
  padding: .2em;
  text-align: center;
  border-radius: 5px;
  background-color: #171717;
}

.video {
  right: 5em;
  border-radius: 10px;
  border: 1.5px solid white;
}

.btnCont {
  position: absolute;
  width: 45%;
  height: 75%;
  right: 2em;
  margin-bottom: 2em;
}
.phButton{
position: relative;
left: 2.3em;
top: 1.2em;
background-color: #171717;
border: 1px solid white;
cursor: pointer;
height: 2em;
width: 25.8em;
border-radius: 5px;
font-size: 18px;
color: white;
font-family: 'Dela Gothic One', cursive;
transition: 1s;
}

.phButton:hover {
  background-color: #9797976b;
}


.photographiesContainer {
  width: 1050px;
  height: 460px;
  background-color: #000000e8;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 5px 5px 10px black;
  animation: transition 0.6s;
  animation-fill-mode: forwards;
}

@keyframes transition {
  from {
    opacity: 0;
    /* width: 0; */
  }
  to {
    opacity: 1;
   /* width: 1050px; */
  }
}

.closeBtn {
  position: absolute;
  right: .5em;
  top: .8em;
padding: .2em .5em;
font-family: 'Dela Gothic One', cursive;
border-radius: 4px;
border: none;
color: rgb(255, 255, 255);
cursor: pointer;
background-color: rgb(235, 70, 70);
user-select: none;
}

.closeBtn:hover {
  background-color: rgba(253, 54, 54, 0.9);
}

.photographies {
width: 100%;
height: 100%;
position:absolute;
top: 2.5em;
display: flex;
justify-content: space-around;
}
.photographies img{
  position: relative;
  top: .5em;
  right: 1.2em;
  width: 280px;
  height: 400px;
  border-radius: 10px;
transition: 1s;
margin: 0.2em;
border:2px solid rgb(87, 87, 87);
animation: transitionimg 1s;
user-select: none;
filter: contrast(110%);
}

@keyframes transitionimg {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@media (max-width: 450px) {
  .phButton, .videoAndTitleCont, .video {
 display: none;
  }

  .description {
    top: 3em;
    right: 0em;
    width: 80%;
    font-size: 16px;
  }

  .title {
    position: relative;
    top: 1em;
    font-size: 31px;
    width: 6em;
    height: 1em;
    margin: 0em;
  }
}

@media (min-width: 1366px) {
  .videoAndTitleCont {
    right: 8.5em;
  }

  .description {
    top: .6em;
    font-size: 22px;
  }
}