.generalDiv {
  background-image: repeating-linear-gradient(
      0deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, hsl(144, 0%, 9%), hsl(144, 0%, 9%));
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14em;
  top: 4em;
  user-select: none;
}

.text h1 {
  position: absolute;
  bottom: 0.23em;
  color:rgba(70, 232, 235);
  font-size: 114px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  width: 7em;
  margin: 0.2em;
  padding: 0;
  text-shadow: 2px 5px 5px black;
}


.text h3 {
  position: relative;
   top: .8em;
  right: 0.05em;
  font-size: 22px;
  font-family: 'Dela Gothic One', cursive;
  font-weight: 300;
  margin: 0;
  width: 24em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 5px 4px black;
}

.text h4 {
  font-size: 16px;
  font-family: 'Dela Gothic One', cursive;
  font-weight: 300;
  width: 3.5em;
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 2px 5px 4px black;
  user-select: none;
}

.scrollCont {
  width: 3.5em;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column; 
 position: relative;
  top: 10em;
  right: 0.05em;
  color: white;
  cursor: pointer;
  animation: scrollTransition 6s;
}

.text h4:hover {
  color:rgba(70, 232, 235);
}



@keyframes scrollTransition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
.effectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  animation: imganimation 5000ms;
  position: relative;
  bottom: 12em;
  left: 7em;
   
}

.PortfolioBackgroundImg {
  width: 10em;
  height: 10em;
  border-radius: 9999px;
  background-image: linear-gradient(
    -45deg,
    rgba(70, 232, 235, 0.7) 0%,
    rgb(30, 173, 175, 0.7) 25%,
    rgba(70, 232, 235, 0.7) 51%,
    rgb(45, 151, 153, 0.7) 100%
  );
  z-index: 2;

}


@keyframes imganimation {
  0%{
    opacity: 0;
  }
  24%{
    opacity: 0;
  }
  from {
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.PortfolioBackgroundImg img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  position: relative;
  margin: 0;
  bottom: 0.7em;
  left: 0.2em;
  filter: brightness(130%);
}


@media (max-width: 450px) {
  .text {
    left: 8em;
    top: 0em;
  }
  .text h1 {
    width: 7em;
    font-size: 50px;
  }

  .text h3 {
    top: 3em;
    right: 0.05em;
    font-size: 12px;
    width: 24em;
  }

  .scrollCont {
    top: 15em;
  }

 .effectContainer {
 left: -7.8em;
 bottom: 13em;
 }  

 .PortfolioBackgroundImg {
  width: 14em;
  height: 14em;
 }
}