.container {
  background-color: #3e0a79;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0;
}

.container h1 {
  position: relative;
  bottom: 0.2em;
  right: 1.1em;
  margin: 0;
  background: linear-gradient(90deg, #56a8ff 0%, #f36aff 25%, #f1e454 100%);
  padding: 0.5em 0;
  font-size: 40px;
  width: 5em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.selectTokenDiv {
  width: 50%;
  height: 85%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  right: 19em;
  backdrop-filter: 3px;
  border-radius: 0.5em;
}

.selectTokenLabel {
  color: rgb(225, 225, 225);
  position: relative;
  right: 8em;
  bottom: 4.8em;
  z-index: 2;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
}

.selectToken {
  background-color: #543b7dc9;
  backdrop-filter: blur(3px);
  border: none;
  color: white;
  height: 3em;
  width: 19em;
  left: 4.05em;
  align-items: center;
  margin: 1em 0 0 0;
  border-radius: 0.5rem;
  padding: 8px 12px;
  position: relative;
  bottom: 10em;
  font-weight: 500;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.selectToken option {
  font-size: 14px;
}

.priceContainer {
  width: 18.5em;
  margin-right: .5em;
  height: 3em;
  text-align: center;
  border-radius: .5em;
  background-color: #ffffff28;
  font-family: "Ubuntu", sans-serif;
  color: white;
  position: absolute;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceContainer h3 {
  font-size: 14px;
}

.selectTokenDiv ion-icon {
  color: white;
  position: absolute;
  z-index: 3;
  top: 4.6em;
  right: 8.5em;
}

.fullCashInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Symbol {
  width: 8em;
  height: 3.63em;
  right: 1em;
  top: 4.001em;
  position: relative;
  z-index: 3;
  margin: 0;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: #4a3171c9;
  color: #ffffff;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Symbol span,
.Symbol img {
  margin: 0;
}

.Symbol img {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  right: 2.2em;
}

.Symbol span {
  margin-left: 1.2em;
  position: absolute;
  font-size: 28px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
.cashLabel {
  color: rgb(225, 225, 225);
  position: relative;
  right: 13em;
  bottom: 1em;
  z-index: 2;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.cashInput {
  text-align: center;
  border: none;
  margin: 0;
  background-color: #4a3171c9;
  backdrop-filter: blur(3px);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 16px;
  font-weight: 700;
  border: none;
  height: 3.5em;
  width: 20em;
  position: relative;
  top: 4em;
  appearance: text;
  color: white;
  text-align: end;
  padding-right: 1em;
  right: 1em;
  outline: none;
  caret-color: aqua;
}

.cashInput::placeholder {
  font-size: 20px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.depositarBtn {
  position: relative;
  top: 4em;
  right: 1.1em;
  width: 29.2em;
  height: 3em;
  border-radius: .5em;
  border: none;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: #05e6c4;
  color: #3e0a79;
  transition: .2s;
}


.depositarBtn:hover {
  background-color: #05e6c4cb;
  cursor: pointer;
}

@media (min-width: 1900px) {
  .selectTokenDiv {
    right: 30em; 
  }

  .selectTokenDiv ion-icon {
    top: 12.7em;
    right: 17.5em;
  }

  .Symbol {
    right: 15px;
  }

  .priceContainer  {
top: 20em;
  }
}