.generalContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(6, 6, 6) 0px,
      rgb(6, 6, 6) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, hsl(144, 0%, 9%), hsl(144, 0%, 9%));
}

.title {
  position: relative;
  top: 0.55em;
  color: #171717;
  font-size: 31px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.1em;
  margin-top: 0.4em;
  width: 7.3em;
  height: 1em;
  margin: 0em;
  background-color: rgba(70, 232, 235);
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.generalContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.nameAndEmailDiv {
  display: flex;
}

.nameInput,
.emailInput {
  width: 250px;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(70, 232, 235);
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  outline: 0;
  color: rgba(70, 232, 235);
  letter-spacing: 1px;
}

.nameInput::placeholder,
.emailInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.nameInput {
  margin-right: 1em;
}

.message {
  margin-top: 5em;
  width: 540px;
  height: 100px;
  background-color: transparent;
  border: none;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(70, 232, 235);
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  color: rgba(70, 232, 235);
  outline: 0;
  resize: none;
}

.message::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sendButton {
  padding: 0.5em;
  border: none;
  background-color: transparent;
  margin-top: 1.5em;
  color: rgba(70, 232, 235);
  border: 1px solid rgba(70, 232, 235);
  font-family: "Dela Gothic One", cursive;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  left: 35.8em;
  transition: 0.25s;
}

.sendButton:hover {
  background-color: rgba(70, 232, 235, 0.229);
  color: white;
}

.networkLogos img {
  width: 50px;
  height: 50px;
  transition: 0.25s;
}

.networkLogos img:hover {
  transform: scale(1.1);
}

.networkLogos {
  width: 200px;
  height: 100px;
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 450px) {
  .title {
    position: relative;
    top: 3em;
  }

  .networkLogos img {
    width: 35px;
    height: 35px
  }

  .networkLogos {
    position: relative;
    top: 1.5em;
    right: 7em;
    height: 50px;
    width: 120px;
    margin-top: 0em;
  }

  .formDiv {
    position: relative;
    top: 4em;
  }

  .nameInput,
  .emailInput {
    width: 140px;
    position: relative;
  }

  .message {
    margin-top: 5em;
    width: 320px;
  }

  .sendButton {
    left: 19em;
  }
}


@media(min-width: 1920px) {
  .networkLogos {
    margin-top: 8em;
  }
  .formDiv {
    margin-top: 10em;
  }

  .nameInput,
  .emailInput {
    width: 365px;
  }

  .message {
    width: 765px;
  }

  .sendButton {
    left: 52.5em;
  }
}