.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 1.4em;
    left: 10.3em;
    background-color: #ffffff4c;
    height: 2em;
    width: 18em;
    z-index: 3;
    border-radius: .5em;
}

.depositar button, .favoritos button, .cuenta button {
    color: rgba(255, 255, 255, 0.785);
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    transition: .2s;
    background-color: transparent;
    border: none;
    border-radius: .5em;
    width: 6em;
    height: 1.5em;
    margin: .2em;
    text-align: center;
}

.depositar button:hover,  .favoritos button:hover , .cuenta button:hover {
    color: white;
    cursor: pointer;
}

.depositar button:focus, .favoritos button:focus, .cuenta button:focus {
    background-color: #240c3b9c;
  
}




@media (min-width: 1900px) { 
    .navContainer {
        left: 12em;
    }
}